<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sockets</title>
    <style>
        .container {
            display: flex;
            border: 10px solid black;
        }

        ul {
            text-align: left;
            list-style: none;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>WebSockets</h1>
        <ul>Messages</ul>
        <form action="">
            <input type="text" /><button>Send</button>
        </form>
    </div>
</body>

</html>