[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
flask-socketio = "*"
flask-cors = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
rope = "*"
pytest = "*"
faker = "*"
flask-testing = "*"

[requires]
python_version = "3.9"
